[submodule "vim/pack/plugins/start/syntastic"]
	path = src/vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/pack/plugins/start/nerdtree"]
	path = src/vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/plugins/start/fugitive"]
	path = src/vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/indent-guides"]
	path = src/vim/pack/plugins/start/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/colors/badwolf"]
	path = src/vim/colors/badwolf
	url = https://github.com/sjl/badwolf.git
